@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Heebo:wght@100;300;400;600;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&display=swap');

html {
  cursor: url(./Assets/rowa.png), auto;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: #4B4453; 
  color: #FFF6FF; 
}



#intro {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.header {

  border-bottom: 2.5px solid #4B4453;
}

.profile img {
  border-radius: 20%;
}

.profile-container {
  display: flex;
  max-width: 80%;
  align-items: center;
}

.profile {
  margin-right: 20px;
}


#projects {
  color: #FFF6FF;
}


/* Accordion */
.accordion {
  background-color: #220373;
  color: #FFF6FF;
}

.active, .accordion:hover {
  background-color: #9668E2;
}

.panel {
  background-color: #444;
  color: #FFF6FF;
}

.panel p.panels {
  color: #FFF6FF;
}

/* About */
.name {
  color: #FFF6FF;
}

.grade {
  color: #FF9971;
}

/* Projects */
.project {
  background-color: #220373;
  border: 1px solid #444;
}

.come, .proyekto {
  color: #FF9971;
}

.view-project-button {
  background-color: #9668E2;
  color: #FFF6FF;
}
.view-project-button:hover {
  background-color: #9668E2;
  color: #FFF6FF;
}

.child:hover {
  background-color: #FBEAFF;
  box-shadow: 0px 10px 10px #FF7098;
}

/* Toggle switch light mode dark mode */
.switch {
  background: transparent;
}

.slider {
  background: #FFCA5D;
  z-index: 100;
}

.slider:before {
  background-color: #220373;
  content: "🌙";
}

.switch input:checked + .slider {
  background: #1B1B1B;
}

.switch input:checked + .slider:before {
  background-color: #FBEAFF;
}

/* Navbar sheesh*/
.navbar {
  background-color: #220373;
  color: #FFF6FF;
}

/* Icons in the navbar */
.navbar a i {
  color: #FFF6FF;
}

/* Skills */
#skills {
  color: #FFF6FF;
}
#skills h3{
  color: #9668E2;
}
#skills p{
  color: #FFF6FF;
}



.header-skills {
  color: #FF9971;
}

.skill-title h3 {
  color: #FFF6FF;
}

/* Certificates */
.certificates {
  background: linear-gradient(to left top, #220373, #9668E2);
  border-radius: 8px;
}

.comecert, .proyektocert {
  color: #FF9971;
}

/* Header and navbar*/
.header {
  background: #4B4453;
  color: #FFF6FF;
}

.icons {
  color: #FFF6FF;
}

.card h2{
  color: #000;
}
/* Contact Form */
.contact-form {
  background: #220373;
  color: #FFF6FF;
}

form input,
form textarea {
  background: #444;
  color: #FFF6FF;
  box-shadow: 0 0 5px #9668E2;
}

form input::placeholder,
form textarea::placeholder {
  color: #9668E2;
}

form .send-btn {
  background: #8B53FF;
  color: #FF9971;
  border: 2px solid #8B53FF;
}

/* Paater */
.footer {
  background: #220373;
  color: #FFF6FF;
}

/* Scroll-top button */
.scroll-top i {
  background: #8B53FF;
}

.contact-form form{
  background-color: #4B4453;
}

.contact-form{
  background-color: #4B4453;
}


